# Discord
DISCORD_TOKEN=seu_token_aqui
DONO_ID=seu_id_discord
OWNER_ID=seu_id_discord
TEST_GUILD_ID=id_do_servidor_para_testes (opcional, faz comandos aparecerem instantaneamente)

# Clash of Clans API
COC_EMAIL=email_clash_of_clans
COC_PASSWORD=senha_clash_of_clans
CLAN_TAG=#tag_do_cla

# MongoDB
MONGO_URI=mongodb://usuario:senha@host:27017/?authSource=admin

# Web Panel
WEB_PANEL_PASSWORD=senha_do_painel

# Atendimento (IDs do servidor Discord)
id_cargo_atendente=
id_canal_suporte=
id_categoria_staff=
id_servidor_bh=
id_canal_logs_bh=
id_canal_avaliacao=
id_servidor_tribunal=
id_canal_logs_tri=
ID_CANAL_TRANSCRICOES=1362127333636706466

# Square Cloud (opcional, apenas se usar Square Cloud)
square_token=
square_idaplication=
