DISCORD_TOKEN=seu_token_aqui
OWNER_ID=seu_id_discord
COC_EMAIL=email_clash_of_clans
COC_PASSWORD=senha_clash_of_clans
CLAN_TAG=#tag_do_cla
MONGO_URI=mongodb://usuario:senha@host:27017/?authSource=admin
WEB_PANEL_PASSWORD=senha_do_painel
ID_CANAL_TRANSCRICOES=1362127333636706466
